<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Go Automatic Apps</title>
    </head>
    <body>
        <h1>Go Automatic Apps - Current configuration</h1>

        <h2>Available tables</h2>
        {{.tables}}
    </body>
</html>