<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Go Automatic Apps</title>
    </head>
    <body>
        <h1>Go Automatic Apps</h1>

        <a href="/config">Show current configuration</a>
    </body>
</html>